.container {
    display: grid;
    grid-template-rows: 8% 83.5% 8%;
    gap: 0.1rem;
    overflow: hidden;
}

@media screen and (min-width: 720px) and (max-width: 1080px) {
    .container {
        grid-auto-rows: 15% 70% 15%;
    }
}

.chatheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: #fca62b;
}

.userdetails {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.avatar img {
    height: 3rem;
}

.username h3 {
    color: black;
}

.chatmessages {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #fcba03;
    overflow: auto;
}
.chatmessages::-webkit-scrollbar {
    width: 0.2rem;
}
.chatmessages::-webkit-scrollbar-thumb {
    background-color: #343635;
    width: 0.5rem;
    border-radius: 1rem;
}

.message {
    display: flex;
    align-items: center;
}
.content {
    max-width: 40%;
    overflow-wrap: break-word;
    padding: 1rem;
    font-size: 1.1rem;
    border-radius: 1rem;
}

.sended {
    justify-content: flex-end;
}
.sended .content {
    background-color: #0e5c4c;
    color: white;
}

.recieved {
    justify-content: flex-start;
}

.recieved .content {
    background-color: #212c33;
    color: white;
}