.container {
  display: grid;
  grid-template-rows: 10% 10% 64% 10%;
  grid-auto-flow: dense;
  overflow: hidden;
  background-color: #fca62b;
}

.brand {
  display: flex;
  
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.brand img {
  height: 2rem;
  align-items: flex-start;
  justify-content: start;
}

.brand h2 {
  color: black;
  text-transform: capitalize;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  gap: 0.8rem;
}
.contacts::-webkit-scrollbar {
  width: 0.2rem;
}
.contacts::-webkit-scrollbar-thumb {
  background-color: #ffffff39;
  width: 0.1rem;
  border-radius: 1rem;
}

.contact {
  background-color: #975902;
  min-height: 5rem;
  width: 90%;
  cursor: pointer;
  border-radius: 0.2rem;
  padding: 0.4rem;
  gap: 1rem;
  align-items: center;
  display: flex;
  transition: 0.5s ease-in-out;
}
.avatar img {
  height: 3rem;
}

.username h3 {
  color: white;
  font-weight: normal;
}
.selected {
  background-color: #7e4a02;
}

.currentuser {
  background-color: #e67186;
  display: flex;
  justify-content:space-around;
  align-items:center;
  gap: 1rem;
}

.currentuser {
  height: 4rem;
  max-inline-size: 100%;
}
.username h2 {
  color: black;
  font-weight: normal;
}

@media screen and (min-width: 768px) {
  .contact {
    min-height: 4rem;
  }
  .avatar img {
    height: 2rem;
  }
}

/* @media screen and (min-width: 480px) and (max-width: 720px) {
  .contact {
    min-height: 3rem;
  }
  .avatar img {
    height: 1.8rem;
  }
}

@media screen and (min-width: 300px) and (max-width: 480px) {
  .brand img {
    height: 1.5rem;
  }

  .brand h2 {
    font-size: 1rem;
  }
  
  .contact {
    min-height: 2rem;
  }
  .avatar img {
    height: 1.6rem;
  }
  .username {
    font-size: 0.5rem;
  }
} */