.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    gap: 1rem;
}

img {
    height: 20rem;
}

span {
    color: white;
}