.formcontainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background-color: #097a6b;
  overflow: hidden;
}

.formcontainer .brand {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.formcontainer img {
  height: 3rem;
}

.formcontainer h2 {
  color: black;
  text-transform: uppercase;
}

.formcontainer form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #d7d9d8;
  border-radius: 2rem;
  padding: 3rem 5rem;
}

/* @media screen and (min-width: 720px) and (max-width: 1080px) {
  .formcontainer form{
    gap: 1rem;
  }
} */
.formcontainer .button {
  background-color: #097a6b;
  color: white;
  padding: 1rem 2rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.4rem;
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: 5px;
  transition: 0.5s ease-in-out;
}
.formcontainer .button:hover {
  background-color: #11bfa8;
}

.formcontainer span {
  color: black;
}
.formcontainer a {
  color: #097a6b;
  text-decoration: none;
  font-weight: bold;
}

.passwordicon {
  position: absolute;
  top: 51%;
  right: 45.2%;
  cursor: pointer;
}

.passwordiconn {
  position: absolute;
  top: 51%;
  right: 44.3%;
  cursor: pointer;
}

.passwordiconnn {
  position: absolute;
  top: 59.5%;
  right: 44.3%;
  cursor: pointer;
}
