.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  background: linear-gradient(to right, #f83600, #fe8c00);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.loader {
  max-inline-size: 100%;
}

.titlecontainer {
  color: white;
  text-align: center;
}
.avatars {
  display: flex;
  gap: 2rem;
}
.avatars img {
  height: 6rem;
  transition: 0.5s ease-in-out;
}
.avatar {
  border: 0.4rem solid transparent;
  padding: 0.4rem;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}
.selected {
  border: 0.4rem solid #fff;
  border-radius: 4rem;
}

.submitbtn {
  background: white;
  color: #f83600;
  padding: 1rem 2rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.4rem;
  font-size: 1rem;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}
.submitbtn:hover {
  color: black;
}

@media screen and (min-width: 350px) and (max-width: 500px) {
  .container {
    padding-top: 5rem;
    padding-bottom: 3rem;
    gap: 1rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: scroll;
  }
  .avatars {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 250px) and (max-width: 350px) {
  .container {
    padding-top: 10rem;
    padding-bottom: 3rem;
    gap: 1rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: scroll;
  }
  .avatars {
    display: flex;
    flex-direction: column-reverse;
  }
}